*{
    padding:0;
    margin:0;
}
body{
    font-family:arial;
    background-color: rgb(151, 182, 197);}
marquee{color: rgb(255,255,255);}
html,body{
    height:100%;
}
.container{
    height:10%;
    background: rgb(245, 190, 240)
}
.footer{
    height:10%;
    background: rgb(245, 190, 240)
}

